<h1>Add subject</h1>


<form class="" action="/subjects/add" method="post">
    <input type="text" name="subject" placeholder="Type subject name here">
    <input type="submit" name="" value="Add">
</form>
